<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title mode=ios color="primary" class="ion-text-center">Organi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item lines="none">
  <ion-searchbar *ngIf="!advancedSearchView" color="primary" (ionChange)="getItemByDescription()" [(ngModel)]="itemDescription"></ion-searchbar>
  <ion-searchbar *ngIf="advancedSearchView" color="primary" (ionChange)="searchItem()" [(ngModel)]="itemDescription"
  [disabled]="selectSearch == null"></ion-searchbar>
  <ion-toggle [(ngModel)]="advancedSearchView"></ion-toggle>
</ion-item>


<ion-list lines="none" *ngIf="advancedSearchView">
  <ion-item>
    <ion-label>Search by ...</ion-label>
    <ion-select interface="popover" placeholder="Select field!" 
    [(ngModel)]="selectSearch">
      <ion-select-option *ngFor="let field of searchOptions" [value]="field">
        {{field}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="showActionsheet()">
    <ion-fab-button>
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="items-search">
    <div *ngIf="itemDescription.length > 2">
      <ion-card *ngFor="let item of itemsSearched, let i = index">
        <ion-card-header (click)="hideSearchItems(i)" color="primary">
          <ion-card-title>{{item.description}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="itemSearchIndex==i" class="ion-margin-top">
          
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h2 color="primary">Home</h2>
              </ion-text>
              <p>{{item.home.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h2 color="primary">Room</h2>
              </ion-text>
              <p>{{item.room.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h2 color="primary">Container</h2>
              </ion-text>
              <p>{{item.container.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h2 color="primary">Compartment</h2>
              </ion-text>
              <p>{{item.compartment.row}}-{{item.compartment.column}}</p>
            </ion-label>
          </ion-item>
  
          <div *ngIf="detailsActivated">
            <ion-item *ngIf="item.color">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Color</h2>
                </ion-text>
                <p>{{item.color}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.brand">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Brand</h2>
                </ion-text>
                <p>{{item.brand}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.model">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Model</h2>
                </ion-text>
                <p>{{item.model}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.group">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Group</h2>
                </ion-text>
                <p>{{item.group}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.price">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Price</h2>
                </ion-text>
                <p>{{item.price}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.store_link">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Store link</h2>
                </ion-text>
                <a [href]="item.store_link" target="_blank" rel="noopener noreferrer">
                  <ion-text color="tertiary">{{item.store_link}}</ion-text>
                </a>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.serial_number">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Serial number</h2>
                </ion-text>
                <p>{{item.serial_number}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.purchase_date">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Purchase date</h2>
                </ion-text>
                <p>{{item.purchase_date.$date | date}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.creation_date">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Creation date</h2>
                </ion-text>
                <p>{{item.creation_date.$date | date}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.warranty_years">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Warranty years</h2>
                </ion-text>
                <p>{{item.warranty_years}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.package" (click)="showItemPackage(item.package.$oid)">
              <ion-label>
                <ion-text color="primary">
                  <h2 color="primary">Package <ion-icon name="cube-outline" class="ion-justify-content-center"></ion-icon></h2>
                </ion-text>
                <p>View package</p>
              </ion-label>
            </ion-item>
          </div>
  
          <ion-button *ngIf="!detailsActivated" (click)="showHideDetails()" fill="clear" shape="round">
            Show details
          </ion-button>
          <ion-button *ngIf="detailsActivated" (click)="showHideDetails()" fill="clear" shape="round">
            Hide details
          </ion-button>

          <ion-button (click)="showHideActions(item._id.$oid)" fill="clear" shape="round">
            Show actions
          </ion-button>
  
        </ion-card-content>
      </ion-card>
    </div>
  
    <div *ngIf="itemDescription.length > 2 && itemsSearched.length == 0">
      <ion-card>
        <ion-card-header color="primary">
          <ion-card-title>Item not found</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
        
          <ion-label>No results have been obtained</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  

  <div id="items-all">
    <div *ngIf="allItemsView">
      <ion-card *ngFor="let item of items, let i = index">
        <ion-card-header (click)="hideShowAllItems(i)" color="secondary">
          <ion-card-title>{{item.description}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="itemShowAllIndex==i" class="ion-margin-top">
          
          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                <h2 color="secondary">Home</h2>
              </ion-text>
              <p>{{item.home.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                <h2 color="secondary">Room</h2>
              </ion-text>
              <p>{{item.room.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                <h2 color="secondary">Container</h2>
              </ion-text>
              <p>{{item.container.description}}</p>
            </ion-label>
          </ion-item>
  
          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                <h2 color="secondary">Compartment</h2>
              </ion-text>
              <p>{{item.compartment.row}}-{{item.compartment.column}}</p>
            </ion-label>
          </ion-item>
  
          <div *ngIf="detailsActivated">
            <ion-item *ngIf="item.color">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Color</h2>
                </ion-text>
                <p>{{item.color}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.brand">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Brand</h2>
                </ion-text>
                <p>{{item.brand}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.model">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Model</h2>
                </ion-text>
                <p>{{item.model}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.group">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Group</h2>
                </ion-text>
                <p>{{item.group}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.price">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Price</h2>
                </ion-text>
                <p>{{item.price}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.store_link">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Store link</h2>
                </ion-text>
                <p>{{item.store_link}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.serial_number">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Serial number</h2>
                </ion-text>
                <p>{{item.serial_number}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.purchase_date">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Purchase date</h2>
                </ion-text>
                <p>{{item.purchase_date.$date | date}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.creation_date">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Creation date</h2>
                </ion-text>
                <p>{{item.creation_date.$date | date}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.warranty_years">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Warranty years</h2>
                </ion-text>
                <p>{{item.warranty_years}}</p>
              </ion-label>
            </ion-item>
  
            <ion-item *ngIf="item.package" (click)="showItemPackage(item.package.$oid)">
              <ion-label>
                <ion-text color="secondary">
                  <h2 color="secondary">Package <ion-icon name="cube-outline" class="ion-justify-content-center"></ion-icon></h2>
                </ion-text>
                <p>View package</p>
              </ion-label>
            </ion-item>
          </div>
  
          <ion-button *ngIf="!detailsActivated" (click)="showHideDetails()" fill="clear" shape="round">
            Show details
          </ion-button>
          <ion-button *ngIf="detailsActivated" (click)="showHideDetails()" fill="clear" shape="round">
            Hide details
          </ion-button>

          <ion-button (click)="showHideActions(item._id.$oid)" fill="clear" shape="round">
            Show actions
          </ion-button>
  
        </ion-card-content>
      </ion-card>
    </div>
  
    <div *ngIf="items.length == 0 && allItemsView">
      <ion-card>
        <ion-card-header color="secondary">
          <ion-card-title>No items exist</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-margin-top">
          <div>
            <ion-label>You can create one by clicking the following button</ion-label>
          </div>

          <div class="ion-text-center">
            <ion-button class="ion-margin-top" routerLink="/create">
              Create item
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
</ion-content>
