.brown-option {
  --color: #5e3e2c;
  --color-hover: #362419;
}

.sel {
  background-color: #3cb5b7;
}

.my-custom-interface .select-interface-option {
  --color: #971e49;
  --color-hover: #79193b;
}
